body{
    background-color: #c7c6c3;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header_main{
    /* width: 100%; */
    padding-bottom: 80px;
    background-image: url(/img/bg-3.jpg);
    background-size: cover;
    background-position: right center;
}
.header_main-content{
    /* background-color: white; */
    margin: 150px auto 0;
    width: 80%;
    text-align: center;
    color: white;
}

.header_main-content h1{
    font-size: 50px;
    text-shadow: 2px 2px 2px black;
    text-transform: uppercase;
}

.header_main-content p{
    background-color: rgba(0, 0, 0, 0.7);
    font-size: 12px;
    text-align: center;
    display:inline-block;
    padding: 12px;
    border-bottom: 1px solid white;
}

ul{
    /* background-color: white; */
    text-align: right;
    margin-right: 50px;
}

ul li{
    display: inline-block;
    background-color: rgba(37, 37, 37, 0.4);
    margin-top: 25px;
    margin-left: 10px;
    padding: 0px;
    border: 1px solid white;
    border-radius: 3px;
}

.Link_Menu{
    display: inline-block;
    padding: 10px 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 11px;
    text-decoration: none;
    color: white;
}

.Link_Menu:hover{
    background-color: #dfdddd;
    color: #252525;
}

main{
    margin: 0 10%;

}

section{
    background-color: white;
    padding: 1px 10px 20px 10px;
    margin-bottom: 7px;
}

p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    padding-bottom: 10px;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 19px;
    font-weight: 500;
    background-color: #dfdddd;
    padding: 10px;
    border-bottom: 1px solid #707273;
}

.Saiba_Mais{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 12px;
    background-color: #afb1b3;
    padding: 10px 15px;
    border-radius: 3px;
}

.Saiba_Mais:hover{
    background-color: #dfdddd;
}

.footer_main{
    background-color: #707273;
    padding-bottom: 10px;
    padding-top: 10px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    font-size: 10px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px #252525;
}